<mat-card class="example-card">
    <mat-card-title style="text-align: center;">
      Verificar Ticket
    </mat-card-title>
    <mat-card-content>
      <p>
        El mismo les traera los datos de los destinos, cantidad de personas, equipaje y tarifa.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="medio">
        <button type="submit" mat-raised-button color="accent">Verificar Ticket</button>
      </div>
    </mat-card-actions>
    <img mat-card-image src="../../assets/qr_code.png" alt="Photo of a Shiba Inu">
  </mat-card>